body {
    background-image: url("./images/image\ bg2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    
}

#NB {
    float:right;
}
#NB a{
    font-size: large;
    text-align: center;
    color:white;
    
}
.contant {
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-top: 270px;
    color: white;
}
.contant p{
    color: rgb(243, 248, 252);
    font-weight: bold;
}
.contant button{
    color:white;
    border-radius: 20px;
    padding:5px;
}